{% extends 'doctorpage.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row text-left">
    <div class="col-sm-8">
      <h1> Doctor Details</h1><br>
    <ul class="list-group">
   <li class="list-group-item">Aadhar: XYZ</li>
   <li class="list-group-item">License:sss</li>
   <li class="list-group-item">First Name:</li>
   <li class="list-group-item">Last Name:</li>
   <li class="list-group-item">Contact:</li>
   <li class="list-group-item">Address:</li>
 </ul>
</div>
    <div class="col-sm-4 text-right">
    <img src="default-user-image.png" alt="Face" height="250px" width="250px">
    <br>
  </div>
</div>
{% endblock %}
